+++
title = "Chapter 318: Verification"
weight = 318
[extra]
chapter = 318
+++

<p>His manuscripts of plagiarism. No, his manuscript of creativity should be considered a very valuable book... Could that bookmark be a Card of Blasphemy? Klein&#x27;s heart skipped a beat, lightly tapped his molars, and quietly activated his Spirit Vision.</p>
<p>However, he didn&#x27;t find anything abnormal.</p>
<p>He then scanned the other bookmarks and obtained the same answer.</p>
<p>That&#x27;s right, if it&#x27;s that easy to detect it, it wouldn&#x27;t have remained till this day for me to have this thought... Klein deactivated his Spirit Vision, and once again, he thought via method of elimination, based on the details he had learned from Roselle&#x27;s diary and the personality the Emperor had shown.</p>
<p>As far as he could tell, since Roselle had said that the book with the Card of Blasphemy was valuable, it couldn&#x27;t be too ordinary, or it wouldn&#x27;t satisfy his sense of warped humor—to use lots of valuable knowledge to serve as a foil for an unobtrusive bookmark would be a form of teasing the recipient of the book.</p>
<p>Thus, books with value but aren&#x27;t of great value can be ignored. In that case... Klein looked around, trying to make sense of it, completely turning a deaf ear to what the guide was saying.</p>
<p>In summary, in the entire study, the only book that fulﬁlls these conditions is that manuscript of creativity. The others are only ordinary in value. With Roselle&#x27;s personality, he deﬁnitely wouldn&#x27;t choose them. Yes, Roselle is the kind of person who would claim ‘I&#x27;ll hide the secret in the most obvious place, but none of you can ﬁnd it&quot;... As Klein imagined this, he added a cackling expression to the Emperor in his mind.</p>
<p>Of course, there&#x27;s no way he could conﬁrm that the bookmark was the disguised Card of Blasphemy because the books Roselle had, which were of great value, clearly included those in the ﬁeld of mysticism. And those books were deﬁnitely not going to be put on display by the Church of the God of Steam and Machinery!</p>
<p>Yes, I have to ﬁrst conﬁrm if it&#x27;s the Card of Blasphemy before considering if I should take action... Unfortunately, I can&#x27;t use the date 20th January as a method of elimination. No one knows which bookmark is placed into which book on and on which day... Klein silently muttered to himself and turned to look towards the guide. He asked with a smile, &quot;Do the books on the shelf also have things stuffed in between them?</p>
<p>&quot;For example, a note written by some noble lady to Roselle.&quot;</p>
<p>This question made many men give a knowing chuckle. The female guide shook her head and said, &quot;No, there aren&#x27;t any. The books that contain other items have all been taken out and placed here for everyone to see.</p>
<p>&quot;This is just a restoration of Emperor Roselle&#x27;s study, not the restoration of a particular point in time. There is no need to maintain an immutable state.&quot;</p>
<p>Klein laughed and said immediately, &quot;I understand, this sure is disappointing...&quot;</p>
<p>That&#x27;s simply great! There&#x27;s only one bookmark in the entire exhibition hall that requires veriﬁcation. The difﬁculty has greatly fallen... he added happily in his heart. As the guide introduced &quot;Roselle&#x27;s Favorite Books,&quot; Klein looked around the room again, taking in the overall layout.</p>
<p>To restore the room from more than a century ago, there were no gas lamps around the room.</p>
<p>The lighting mainly relied on the iron-barred oriel windows that were a few meters away and the huge crystal chandeliers hanging from the ceiling.</p>
<p>As for the brass lamp on the desk, there were no candles installed. It was purely a decoration.</p>
<p>Looking out the oriel window, Klein saw the yellow, withered lawn and a straight, iron-black lamppost.</p>
<p>He took note of the location and turned his attention back to the book the female guide was introducing. In his mind, he began to analyze the feasibility of the theft.</p>
<p>There&#x27;s one premise. According to Roselle&#x27;s intentions, the various Churches and the ancient royal families wouldn&#x27;t wish for him to spread the Cards of Blasphemy and destroy the stable order that has been in place for more than a thousand years.</p>
<p>Therefore, if I&#x27;m an archbishop in charge of handling this matter, I will directly burn all of Roselle&#x27;s items. If the Cards of Blasphemy can be destroyed so completely, the outcome will perfectly suit the thoughts of the deities. If the Cards of Blasphemy are difﬁcult to be destroyed, they will deﬁnitely expose their abnormality after the burning.</p>
<p>Since Roselle&#x27;s items still remain, that means that he used certain methods to make everyone, including the deities, believe that he had sent out all the Cards of Blasphemy without keeping a single one.</p>
<p>Of course, I can&#x27;t eliminate the possibility that some Churches or ancient families might attempt to use the Cards of Blasphemy to make up for their incomplete Beyonder pathways. But this possibility is very tiny. This is because it will give Roselle an opportunity to come up with a united front strategy. There wouldn&#x27;t be a need for him to go so far as to destroy the order by spreading the Cards of Blasphemy.</p>
<p>In that case, his diary will show a certain level of conﬁdence and corresponding concern, and he deﬁnitely wouldn&#x27;t be left with pessimism to the point of only thinking of relying on that ancient secret organization.</p>
<p>Furthermore, it&#x27;s been more than a hundred years. The Church of the God of Steam and Machinery, who has retained these remains, must&#x27;ve made numerous supplementary searches. Therefore, no one would believe that the Card of Blasphemy remains hidden in here.</p>
<p>In other words, the security level of this exhibition wouldn&#x27;t be too high.</p>
<p>Besides, the most important point is that Backlund is currently under siege by the terror caused by the Devil&#x27;s serial murders. The Beyonders of the three Churches must be sweeping through the entire city. The amount of manpower that the Machinery Hivemind Squad can afford to place at this unimportant exhibition would be extremely limited.</p>
<p>Yes, the thing most worthy of protection here is Roselle&#x27;s diary. Many wild Beyonders worship the Emperor greatly. They believe that the book written with independently-created symbols must contain more profound mysteries. There&#x27;s a motive to stealing them, and they have the ability to do so. Therefore, the guards&#x27; focus will deﬁnitely be in that exhibition hall.</p>
<p>I&#x27;ll do a divination above the gray fog when I&#x27;m back to verify my analysis.</p>
<p>However, I have to ﬁrst test if it&#x27;s a Card of Blasphemy. Otherwise, I would be taking a certain risk and wasting tremendous effort only to steal an ordinary bookmark. If that happened, I might as well lie back in my grave! Yes, how should I verify it? It can&#x27;t wait till I inﬁltrate again, and I don&#x27;t have an opportunity to do so now... I have to ﬁnd someone to help... I have to be careful! Klein&#x27;s followed behind the guide with a focused expression as though he was very attentive.</p>
<p>Miss Magician is an Apprentice. She is able to go through walls and doors. It&#x27;s like she possesses a Master Key, so she&#x27;s a good candidate... However, she&#x27;s only Sequence 9. The mission of inﬁltrating to do the veriﬁcation is way too dangerous for her...</p>
<p>Miss Xio? No, she wouldn&#x27;t be up to this... Let her get a thief to help? No, that&#x27;s won&#x27;t do. There are Beyonder guards here. The thief would most likely get caught on the spot, which will expose the fact that someone is looking into Roselle&#x27;s bookmark...</p>
<p>Miss Sharron? She&#x27;s powerful enough, and her state is suitable for this kind of quest, but the problem is that the Card of Blasphemy is a divine object that can make most Beyonders willing to kill. I still don&#x27;t trust her enough...</p>
<p>...</p>
<p>Klein thought, analyzing the helpers he could use. Gradually, he had a candidate in mind: Miss Justice!</p>
<p>Is it possible for her to use her wealth and power as a noble to touch the bookmark, using her interest as an excuse? Hmm, there are plenty of opportunities. Furthermore, this method won&#x27;t alarm anyone. It would be beneﬁcial for me to sneak in and steal it in the future... The more Klein thought about it, the more he found it feasible.</p>
<p>As for the question of how to verify it, as the Card of Blasphemy possessed anti-divination and anti-prophecy characteristics, the only solution he could think of for the time being was—to attempt to destroy the bookmark!</p>
<p>Doesn&#x27;t anti-divination and anti-prophecy mean that using a similar method on a particular object that hides a Card of Blasphemy would result in failure or interference? Wouldn&#x27;t that be tantamount to exposing itself?</p>
<p>What it really means is that even with the Card of Blasphemy, divining it will be equivalent to divining an ordinary object. The divination would result in something equivalent to the ordinary object.</p>
<p>In any case, I can&#x27;t ﬁgure out what &quot;password&quot; the Emperor set. I can only use such a simple and crude method to conﬁrm it. If the Card of Blasphemy can really be destroyed, then it only means that I&#x27;m temporarily unfated with it... Yes, with the Emperor&#x27;s liking, perhaps I can try an activation incantation...</p>
<p>He once joked in his diary, saying, &quot;My fortune is yours for the taking, but you&#x27;ll have to ﬁnd it ﬁrst. I left everything I own at the ends of the Fog Sea,&quot; and the Card of Blasphemy is one of those treasures! The activation incantation could be set to &quot;One Piece&quot; in ancient Hermes? That&#x27;s not right. That way, there would be no one who can obtain anything, unless a second transmigrator appears. This isn&#x27;t in accordance with the Emperor&#x27;s intention to create chaos and destroy order, so the corresponding word for &quot;Pirate King&quot; was in either Hermes or ancient Hermes?</p>
<p>Klein slowly confirmed his thoughts, paying more and more attention to the layout of the exhibition hall.</p>
<p>Under the guidance of the female guide, they left the restored study and entered another exhibition hall.</p>
<p>When everything was over, and he was free to move around, Klein said, a little embarrassed, &quot;Excuse me, but I would like to know where the washroom is? Upstairs?&quot;</p>
<p>&quot;No, that&#x27;s where our office is. If you follow this path until the end before turning left, you will see it.&quot; The female guide politely pointed in a direction.</p>
<p>Using this opportunity, Klein figured out the connections of the washroom and several large exhibition halls, and he sketched out a rough layout in his mind.</p>
<p>At noon, he left the Royal Museum without doing anything and returned to 15 Minsk Street.</p>
<p>Klein had originally wanted to instruct Miss Justice as The Fool, saying that his Blessed needed help. But on second thought, he felt that it would ruin the image of Mr. Fool.</p>
<p>As an unfathomable ﬁgure, he has to appear calm and collected. He can&#x27;t always be helping his Blessed. At the very least, he can&#x27;t be personally bringing up such matters, time and time again... Klein thought for a moment and quickly worked out a solution.</p>
<p>He decided to pass on the image and voice of his &quot;Blessed&#x27;s&quot; plea directly to Miss Justice.</p>
<p>In the process, Mr. Fool didn&#x27;t say anything!</p>
<p>Phew. Klein exhaled, drew the curtains, rubbed his cheeks, and began to pray to himself, &quot;The Fool that doesn&#x27;t belong to this era.</p>
<p>&quot;The mysterious ruler above the gray fog.</p>
<p>&quot;The King of Yellow and Black who wields good luck.</p>
<p>&quot;I pray for your help.</p>
<p>&quot;I hope that someone can help me touch the bookmark in Roselle&#x27;s manuscript of creativity.</p>
<p>&quot;Help me inflict small and unnoticeable damage to it and tell me of its results. While doing so, one can recite the corresponding term for ‘Pirate King&#x27; in Hermes or ancient Hermes.</p>
<p>&quot;No matter who helps me, even if there isn&#x27;t a reaction, I will be willing to pay them 500 pounds. This can be deducted from the 5,000 pounds that has not yet been paid.</p>
<p>&quot;If there is a reaction, I am willing to give more.&quot; ...</p>
<p>After doing all of this, Klein waited for a moment before entering the gray fog, and he saw the scene of his prayer displayed on the screen of light.</p>
<p>After divining that &quot;the theft of the bookmark in the Royal Museum&quot; involved a certain amount of danger but wasn&#x27;t too high, he extracted the plea, and added more of a &quot;mosaic&quot; effect to it. He also distorted his voice slightly, and he threw it into the illusory star that symbolized Miss Justice.</p>
